HolidayReservationSystem/xml-resources/web-service-references/PartnerReservationWebService/wsdl/localhost_8080/PartnerReservationWebService/PartnerReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerReservationWebService/PartnerReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="payReservation">
<part name="parameters" element="tns:payReservation"/>
</message>
<message name="payReservationResponse">
<part name="parameters" element="tns:payReservationResponse"/>
</message>
<message name="partnerSearchCar">
<part name="parameters" element="tns:partnerSearchCar"/>
</message>
<message name="partnerSearchCarResponse">
<part name="parameters" element="tns:partnerSearchCarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="retrieveAllCarCategories">
<part name="parameters" element="tns:retrieveAllCarCategories"/>
</message>
<message name="retrieveAllCarCategoriesResponse">
<part name="parameters" element="tns:retrieveAllCarCategoriesResponse"/>
</message>
<message name="cancelReservation">
<part name="parameters" element="tns:cancelReservation"/>
</message>
<message name="cancelReservationResponse">
<part name="parameters" element="tns:cancelReservationResponse"/>
</message>
<message name="retrieveAllOutlets">
<part name="parameters" element="tns:retrieveAllOutlets"/>
</message>
<message name="retrieveAllOutletsResponse">
<part name="parameters" element="tns:retrieveAllOutletsResponse"/>
</message>
<message name="retrievePartnerByEmailPassword">
<part name="parameters" element="tns:retrievePartnerByEmailPassword"/>
</message>
<message name="retrievePartnerByEmailPasswordResponse">
<part name="parameters" element="tns:retrievePartnerByEmailPasswordResponse"/>
</message>
<message name="retrieveReservationsByPartner">
<part name="parameters" element="tns:retrieveReservationsByPartner"/>
</message>
<message name="retrieveReservationsByPartnerResponse">
<part name="parameters" element="tns:retrieveReservationsByPartnerResponse"/>
</message>
<message name="partnerSearchCarGetUsedRentals">
<part name="parameters" element="tns:partnerSearchCarGetUsedRentals"/>
</message>
<message name="partnerSearchCarGetUsedRentalsResponse">
<part name="parameters" element="tns:partnerSearchCarGetUsedRentalsResponse"/>
</message>
<message name="partnerReserveCar">
<part name="parameters" element="tns:partnerReserveCar"/>
</message>
<message name="partnerReserveCarResponse">
<part name="parameters" element="tns:partnerReserveCarResponse"/>
</message>
<portType name="PartnerReservationWebService">
<operation name="payReservation">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/payReservationRequest" message="tns:payReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/payReservationResponse" message="tns:payReservationResponse"/>
</operation>
<operation name="partnerSearchCar">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerSearchCarRequest" message="tns:partnerSearchCar"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerSearchCarResponse" message="tns:partnerSearchCarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="retrieveAllCarCategories">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveAllCarCategoriesRequest" message="tns:retrieveAllCarCategories"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveAllCarCategoriesResponse" message="tns:retrieveAllCarCategoriesResponse"/>
</operation>
<operation name="cancelReservation">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/cancelReservationRequest" message="tns:cancelReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/cancelReservationResponse" message="tns:cancelReservationResponse"/>
</operation>
<operation name="retrieveAllOutlets">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveAllOutletsRequest" message="tns:retrieveAllOutlets"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveAllOutletsResponse" message="tns:retrieveAllOutletsResponse"/>
</operation>
<operation name="retrievePartnerByEmailPassword">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrievePartnerByEmailPasswordRequest" message="tns:retrievePartnerByEmailPassword"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrievePartnerByEmailPasswordResponse" message="tns:retrievePartnerByEmailPasswordResponse"/>
</operation>
<operation name="retrieveReservationsByPartner">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveReservationsByPartnerRequest" message="tns:retrieveReservationsByPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/retrieveReservationsByPartnerResponse" message="tns:retrieveReservationsByPartnerResponse"/>
</operation>
<operation name="partnerSearchCarGetUsedRentals">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerSearchCarGetUsedRentalsRequest" message="tns:partnerSearchCarGetUsedRentals"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerSearchCarGetUsedRentalsResponse" message="tns:partnerSearchCarGetUsedRentalsResponse"/>
</operation>
<operation name="partnerReserveCar">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerReserveCarRequest" message="tns:partnerReserveCar"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerReserveCarResponse" message="tns:partnerReserveCarResponse"/>
</operation>
</portType>
<binding name="PartnerReservationWebServicePortBinding" type="tns:PartnerReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="payReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerSearchCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllCarCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllOutlets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePartnerByEmailPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservationsByPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerSearchCarGetUsedRentals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerReserveCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartnerReservationWebService">
<port name="PartnerReservationWebServicePort" binding="tns:PartnerReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerReservationWebService/PartnerReservationWebService"/>
</port>
</service>
</definitions>